<nav  class="navbar fixed-top  navbar-expand-md bg-dark ntop sticky navbar-dark">
  <div class="container">
      <a  class="navbar-brand nav-title" routerLink="" > SIXTEEN <span>CLOTHING</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul id="nav-content" class="navbar-nav "> 
                  <li class="nav-item">
                      <a  class="nav-link  item" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                  </li>
                  <li class="nav-item">
                      <a  class="nav-link item" routerLink="/products"  routerLinkActive="active" ariaCurrentWhenActive="page">Our Product</a>
                  </li>
                  <li class="nav-item">
                      <a  class="nav-link item" routerLink="/about"  routerLinkActive="active" ariaCurrentWhenActive="page">About us</a>
                  </li>
                  <li class="nav-item">
                      <a  class="nav-link item" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact us</a>
                  </li>
              </ul>
          </div>
          <div class="nav1">
                
            <!-- <ul class="navbar-nav" [ngIf]="!isLoggedIn">
                <li class="nav-item">
                    <a  class="nav-link item" (click)="logout()">Log Out</a>
                </li>
            </ul> -->
              <ul class="navbar-nav navbar-nav--sub" >
                <ng-container *ngIf="!isAuthenticated()" >
                    <li class="nav-item" >
                        <a  class="nav-link item" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Log in</a>
                    </li>
                    <li class="nav-item" >
                        <a  class="nav-link item" routerLink="/resiter" routerLinkActive="active" ariaCurrentWhenActive="page">Resiter</a>
                    </li>
                </ng-container>
                <ng-container  *ngIf="isAuthenticated()">
                    <li class="nav-item">
                        <a  class="nav-link item" (click)="handel()" >Log out</a>
                    </li>
                </ng-container>
                  <li class="nav-item cart">
                     <div class="wrapper">
                        <a  class="nav-link item" routerLink="/cart"   routerLinkActive="active" ariaCurrentWhenActive="page" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg>
                        </a>
                        <span class="cart-notice">{{totalItem}}</span>
                        <div class="cart-container">
                            <app-cart-list ></app-cart-list>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item">
                      <a  class="nav-link item">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                      </a>
                  </li>
              </ul>   
          </div>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>